@use "../base/mixins" as *;
@use "../base/constants" as *;

.products {
  grid-column: 1 / 13;

  h2 {
    font-family: "Maragsa Display";
    font-style: italic;
  }

  ul.categories {
    list-style: none;

    li {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 12px;
      border: 2px solid rgba(lightgrey, 0.5);
      margin-bottom: 1em;
      cursor: pointer;
      @include defaultTransition;

      p {
        margin: 0;
        font-size: 0.9em;
        font-weight: 600;
      }

      &:not(:last-child) {
        margin-right: 1em;
      }

      &.selected,
      &:hover {
        background-color: rgba(lightgrey, 0.5);
      }
    }
  }

  .catalogue {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;
  }
}

@media screen and (max-width: 1250px) {
  .products .catalogue {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .products .catalogue {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .products .catalogue {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .products .catalogue {
    grid-template-columns: repeat(1, 1fr);
  }
}
