@use "../base/mixins" as *;
@use "../base/constants" as *;

section.welcome {
  grid-row: 2 / 8;
  grid-column: 1 / 13;
  @include center;
  flex-direction: column;
  padding: 40px;

  h1 {
    font-family: "Maragsa Display";
    span {
      background: $gradient-highlight;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
