// COLORS
$bg-color-primary: #ffffff;
$bg-color-secondary: #202022;
$bg-color-tertiary: #1a1a1b;

$text-color-primary: #151515;
$text-color-secondary: #949495;

$color-highlight: #feb9dc;
$color-highlight-dark: #9e82e8;
$color-highlight-darker: #6c40b2;
$gradient-highlight: linear-gradient(
  135deg,
  $color-highlight-darker,
  $color-highlight-dark,
  $color-highlight
);

// FONTS

// DECORATION
$border-radius-normal: 12px;
$border-radius-more-rounded: 15px;
$border-radius-less-rounded: 8px;

$small-shadow: 5px 5px 15px rgba(12, 12, 12, 0.5);

// ANIMATION
$transition-duration: 0.3s;

// BACKGROUND
$noise: url("../../assets/images/cement.png");
