@use "./base/typography";
@use "./base/constants";

*,
.mp0 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  font-size: 16px;
  overflow-x: hidden;
  background-color: constants.$bg-color-primary;

  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0;
    opacity: 0;
    visibility: hidden;
  }
}

#root {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100vh;
  gap: 10px;
  max-width: min(1200px, 80%);
  margin: 0 auto;
}

@media screen and (max-width: 450px) {
  #root {
    height: none;
  }
}

a.link {
  color: constants.$color-highlight;
  display: inline-block;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 2px;
    background-color: constants.$color-highlight;
    transition: all 0.3s;
  }

  &:hover {
    &::after {
      width: 0;
    }
  }

  &:active {
    color: constants.$color-highlight;
  }
}
